extends ../header.jade
block head
  title CoactAdmin - Surveys
block vars
  - var nav = 'surveys'
  - var bgPage = 'bg-grey'
block component
  .jumbotron
    .container
      .row
        .col-md-12
          h2= 'Questionnaire : "' + token + '"'
  script(type='text/javascript').
    var pages = [];
    var encodedToken = !{JSON.stringify(encodedToken)}
  .survey(ng-controller='surveyFormCtrl')
    for page, indexP in pages
      - var pagePath = 'pages[' + indexP + ']'
      script(type='text/javascript').
        !{pagePath} = [];

      for question, indexQ in page
        - var questionPath = pagePath + '[' + indexQ + ']'

        script(type='text/javascript').
          !{questionPath} = {
            question: !{JSON.stringify(question.question)},
            answer: !{JSON.stringify(question.answer)}
          };

    form(
      novalidate
      autocomplete="off"
      )
      .survey-page(ng-repeat="page in pages" ng-show="$index == currentPage")
        .jumbotron
          .container
            .row
              .col-md-12
                h3= 'PAGE {{$index + 1}}'
                .page-content

                  .question(ng-repeat="question in page")
                    .question-label
                      span {{question.question.label}}
                    .container
                      .col-md-11.col-md-offset-1
                        .question-mark(ng-show="question.question.allowMark")
                        .question-comment(ng-if="question.question.allowComment")
                          textarea(
                            rows=4
                            cols=70
                            ng-model= 'question.answer.comment'
                            value= '{{question.comment.text}}')
      .container.page-handler
        .row
          .col-md-12
            .page-index(
              ng-repeat="page in pages"
              ng-class="$index == currentPage ? 'current' : ''"
              ng-click="setPage($index)"
            ) {{$index + 1}}
            .page-index.textual.next-page(
              ng-show="currentPage == (pages.length -1)"
              )
              btn.btn-primary(
                ng-click="answerSurvey()"
                ) soumettre le questionnaire
