extends ./header.jade
block component
  .jumbotron
    .container
      .row
        .col-md-12
          h2= "PCM Questionnaire : " + pcmTest.name
          .admin-action
            a(
              href="/admin/pcm/export-results/" + pcmTest.name
            ) exporter en .xlsx

    .container
      .row
        .col-md-12
          table.table.table-hover
            thead
              tr
                th Nom
                th Prénom
                th Email
                th Questions répondues
                th Dernière modification
                th Correction
                th Corriger
            tbody
              for user in pcmTest.users
                tr
                  td= user.lastname
                  td= user.firstname
                  td= user.email
                  td= user.answers.length + " sur " + pcmTest.videos.length
                  td= moment(user.updated).format('DD/MM/YYYY à h:mm:ss')
                  if user.corrected
                    td= "faite le " + moment(user.corrected).format('DD/MM/YYYY')
                  else
                    td non faite
                  td
                    a(href="/admin/pcm/correct/" + pcmTest.name + "?email=" + encodeURIComponent(user.email)) Corriger

