extends ../header.jade
block head
  title CoactAdmin - Questionnaires
block vars
  - var nav = 'surveys'
block component
  .jumbotron
    .container
      .row
        .col-md-12
          h2= "PCM Questionnaire : " + pcmTest.name
          .admin-action
            a(
              href="/admin/pcm/export-results/" + pcmTest.name
            ) exporter en .xlsx
            if byUser
              a(
                href="/admin/pcm/see/" + pcmTest.name + "?by=question"
              ) trier par question
            else
              a(
                href="/admin/pcm/see/" + pcmTest.name + "?by=user"
              ) trier par utilisateur
  if byUser
    script(type='text/javascript').
      var numberOfPages = !{pcmTest.users.length};
  else
    script(type='text/javascript').
      var numberOfPages = !{pcmTest.videos.length};

  .jumbotron.see-test-results(ng-controller='seePCMCtrl')
    if byUser
      for user, userNumber in pcmTest.users
        .container(ng-show="currentPage=="+userNumber)
          .row.result-page-header
            h2= user.lastname + " " + user.firstname + " (" + user.email + ")"
          if user.answers.length == 0
            p pas de réponse

          for answer, videoNumber in user.answers
            .row
              .col-md-10.col-md-offset-1
                .result-header.small-video
                  h3= pcmTest.videos[videoNumber].question

                  iframe(
                    width="140"
                    height="78"
                    src="https://www.youtube.com/embed/" + pcmTest.videos[videoNumber].embedCode
                    frameborder="0"
                    allowfullscreen
                  )
                .result-body
                  .pcm-profile-result
                    h3 Profiles choisis :
                    if answer.profile.harmoniser
                      .harmoniser &nbsp;
                    if answer.profile.thinker
                      .thinker &nbsp;
                    if answer.profile.believer
                      .believer &nbsp;
                    if answer.profile.doer
                      .doer &nbsp;
                    if answer.profile.dreamer
                      .dreamer &nbsp;
                    if answer.profile.funster
                      .funster &nbsp;
                  p.justification= answer.justification
    else
      for video, videoNumber in pcmTest.videos
        .container(ng-show="currentPage=="+videoNumber)
          .row.small-video.result-page-header
            h3= video.question
            iframe(
              width="140"
              height="78"
              src="https://www.youtube.com/embed/" + video.embedCode
              frameborder="0"
              allowfullscreen
            )
          for user in pcmTest.users
            if user.answers.length > videoNumber
              .row
                .col-md-10.col-md-offset-1
                  .result-header
                    h2= user.lastname + " " + user.firstname + " (" + user.email + ")"
                    - var answer = user.answers[videoNumber]
                  .result-body
                    .pcm-profile-result
                      h3 Profiles choisis :
                      if answer.profile.harmoniser
                        .harmoniser &nbsp;
                      if answer.profile.thinker
                        .thinker &nbsp;
                      if answer.profile.believer
                        .believer &nbsp;
                      if answer.profile.doer
                        .doer &nbsp;
                      if answer.profile.dreamer
                        .dreamer &nbsp;
                      if answer.profile.funster
                        .funster &nbsp;
                    p.justification= answer.justification

    .video-navigation
      .btn.btn-primary.next-video(ng-click="previous()" ng-show="currentPage > 0")= byUser ? "utilisateur précédent" : "video précédente"
      .btn.btn-primary.previous-video(ng-click="next()" ng-show="currentPage < numberOfPages - 1")= byUser ? "utilisateur suivant" : "video suivante"
