doctype html
html(lang="fr", ng-app="%module%")
  head
    block head
    meta(charset="utf-8")
    meta(name="google-site-verification" content="A6CA8SjMaKex1u0Twv2PMcfaajA9mLe547933XIgrO8")
    link(rel="stylesheet", href="/%styles%/main.css")
    meta(name="viewport", content="initial-scale=1.0, width:device-width")
    if analytics
      // Google Analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68212799-1', 'auto');
        ga('send', 'pageview', location.pathname);
      // End Google Analytics
    script(src="/%scripts%/vendor.js")
    script(src="/%scripts%/app.js")
  block vars
  body#body.coactcss(class=bgPage)
    if fb
      #fb-root
        script.
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            img(src="/img/CoAct.svg" onerror="this.onerror=null; this.src='/img/CoAct.png'")
        #navbar.navbar-collapse.collapse
          .nav.navbar-nav
            a.social-icon(href="https://www.linkedin.com/company/coact-the-collabor%27action-factory" target="_blank")
              img(src="/img/linkedin_icon.png" width="25" height="25" alt="LinkedIn" border="0")
            a.social-icon(href="https://www.facebook.com/thecollaboractionfactory" target="_blank")
              img(src="/img/facebook-icon.png" width="25" height="25" alt="LinkedIn" border="0")
          ul.nav.navbar-nav.navbar-right
            if admin
              li(class=nav === 'pcm' ? 'active' : '')
                a(href="/admin/pcm") Process Com
              li(class=nav === 'formation' ? 'active' : '')
                a(href="/admin/formation") Formations
            else
              li(class=nav === 'landing' ? 'active' : '')
                a(href="/") Accueil
              li.dropdown(class=nav === 'personnel' || nav === 'organisation' || nav === 'technologie' ? 'active' : '')
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  | Collaboration
                  span.caret
                ul.dropdown-menu
                  li(class=nav === 'personnel' ? 'active' : '')
                    a(href="/personnel") humaine
                  li(class=nav === 'organisation' ? 'active' : '')
                    a(href="/organisation") organisationnelle
                  li(class=nav === 'technologie' ? 'active' : '')
                    a(href="/technologie") technologique
              li(class=nav === 'jobs' ? 'active' : '')
                a(href="/jobs") Jobs
              li(class=nav === 'actu' ? 'active' : '')
                a(href="/actu") Actualité
              li(class=nav === 'contact' ? 'active' : '')
                a(href="/contact") Contact

    block component

    footer
      .container
        .row
          .col-md-2.footer-brand
            img(src="/img/CoActWhite.svg" onerror="this.onerror=null; this.src='/img/CoActWhite.png'")
          .col-md-2.adress
            h1 CoAct
            p(style='white-space:pre;')
              | c/o La Ruche
              | 84 quai de Jemmapes
              | F-75010 Paris
            a(
              href="mailto:contact@thecollaboractionfactory.com?Subject=Contact%20Coact"
              target="_top"
            ) contact@coact.fr

          .col-md-2.links
            h1 Collaborer
            a(class=nav === 'personnel' ? 'active' : ''
            href="/personnel") Hommes
            a(class=nav === 'organisation' ? 'active' : ''
            href="/organisation") Organisation
            a(class=nav === 'technologie' ? 'active' : ''
            href="/technologie") Technologies
          .col-md-2.company
            h1 Nous
            a(class=nav === 'actu' ? 'active' : ''
            href="/actu") Suivre
            a(class=nav === 'jobs' ? 'active' : ''
            href="/jobs") Rejoindre
            a(class=nav === 'contact' ? 'active' : ''
            href="/contact") Contacter
          .col-md-2.socials
            h1 Nous suivre
            a.social-icon(href="https://www.linkedin.com/company/coact-the-collabor%27action-factory" target="_blank")
              img(src="/img/linkedin_icon.png" width="25" height="25" alt="LinkedIn" border="0")
            a.social-icon(href="https://www.facebook.com/thecollaboractionfactory" target="_blank")
              img(src="/img/facebook-icon.png" width="25" height="25" alt="LinkedIn" border="0")
        .row.legals
          .col-md-10.col-md-offset-1
            h1 Mentions légales
            p
              | SAS au capital de 6000€ - RCS Paris 813 572 78 - | SIRET 813 572 781 00017 - NAF 7022Z
