extends ./header.jade
block vars
  - var nav = 'personnel'
block component
  .jumbotron
    .container
      .row
        .col-md-12
          h1 La dimension humaine de la collaboration
          p.explain
            | Le premier enjeu de toute collaboration au sein d’une organisation
            | est de faire en sorte que l’ensemble des personnes
            | qui la composent communiquent et interagissent aisément.
          p.explain
            | Bien souvent, nos différences de perception et de manière de fonctionner
            | font que nous ne nous comprenons pas toujours.
          p.explain
            | Le tout premier défi de la collaboration sera donc de développer nos capacités
            | à comprendre notre propre fonctionnement, ainsi que celui des autres afin de savoir
            | ce qu'il est raisonnable d'attendre de chacun.
          p.explain Chez CoAct – The Collabor’action Factory, nous partageons cet objectif !
          p.explain
            | Toutes nos actions de formations ou d’animations de séminaires sont résolument
            | collaboratives. Nous créons et animons des
            | Collaborative Trainings qui permettent aux participants de véritablement
            | travailler en équipe pour progresser dans leurs pratiques, ainsi qu'initier
            | une démarche collaborative pérenne au sein de votre organisation.
  .jumbotron.appeal
    .container.marketing
      .row
        .col-md-4.slider-controller
          .thumbnail
            .caption
              p
                a.btn.btn-cta(
                  ng-click='personnelSlider.goTo("takeAction")'
                  ng-class='{active: personnelSlider.slides.takeAction}'
                  ) Passez à l’action
              p
                a.btn.btn-cta(
                  ng-click='personnelSlider.goTo("transform")'
                  ng-class='{active: personnelSlider.slides.transform}'
                  ) Faites évoluer vos formations
              p
                a.btn.btn-cta(
                  ng-click='personnelSlider.goTo("discover")'
                  ng-class='{active: personnelSlider.slides.discover}'
                  ) Explorez vos possibilités
        .col-md-8.side-slider
          .thumbnail
            .caption
              #take-action(ng-show="personnelSlider.slides.takeAction")
                p
                  | Expérimentez un Collaborative Training
                  | sur 2 heures pour 4 à 6 personnes
              #transform(ng-show="personnelSlider.slides.transform")
                p
                  | Vous avez déjà des programmes de formation en place et vous recherchez
                  | un format innovant qui marquera vos participants ?
                p
                  | Transformez une formation « classique »
                  | en Collaborative training
              #discover(ng-show="personnelSlider.slides.discover")
                p
                  | Vous vous interrogez sur les thèmes abordés et les applications
                  | possibles des Collaborative Trainings ?
      .row
        .col-md-12
          a.btn.btn-default.btn-higlight(href="#/contact" analytics-on="click" analytics-event="Personnel: CTA Conctact us") Contactez-nous
