extends ../header.jade
block head
  title CoactAdmin - Surveys
block vars
  - var nav = 'surveys'
  - var bgPage = 'bg-grey'
block component
  script(type='text/javascript').
    var emails = [];
  .send-list(ng-controller='adminSendFormCtrl')
    for email, indexE in emails
      script(type='text/javascript').
        !{'emails[' + indexE + ']'} = !{JSON.stringify(email)};

    .jumbotron
      .container
        .row
          .col-md-12
            h2= 'Questionnaire : "' + token + '"'
            form.user-list(
              novalidate
              method="post"
              action="/admin/sendSurvey/"+ token
              ng-show="emails.length > 0"
            )
              .user(ng-repeat="email in emails")
                input(
                  type="textbox"
                  name="emails[{{$index}}]"
                  readonly
                  value="{{email}}"
                )

                a.btn.btn-binary(href="/admin/getAnswer/" + token + "/{{$index}}") Voir la réponse

              input.btn.btn-binary(
                type="submit"
                value="Sauvegarder les utilisateurs")
            .add-user
              input(
                type="textbox"
                ng-model="new"
                placeholder="rentrez un email"
              )
              .btn.btn-primary(ng-click="addUser(new)") Ajouter l'email
