extends ../header.jade
block head
  title CoactAdmin - Surveys
block vars
  - var nav = 'surveys'
  - var bgPage = 'bg-grey'
block component
  .jumbotron
    .container
      .row
        .col-md-12
          h2= 'Questionnaire : "' + token + '"'
  if newSurvey
    .jumbotron
      .container
        .row
          .col-md-8
            form(novalidate method="post" action="/admin/newSurvey/"+token)
              h3 Ce questionnaire n'existe pas.
              input.btn.btn-primary(type='submit' value='Créer ce questionnaire')
  else
    script(type='text/javascript').
      var pages = [];
    .survey(ng-controller='adminSurveyFormCtrl')
      for page, indexP in template.pages
        - var pagePath = 'pages[' + indexP + ']'
        script(type='text/javascript').
          !{pagePath} = {questions: []};

        for question, indexQ in page.questions
          - var questionPath = pagePath + '.questions[' + indexQ + ']'

          script(type='text/javascript').
            !{questionPath} = {
              label: !{JSON.stringify(question.label)},
              allowMark: !{JSON.stringify(question.allowMark)},
              allowComment: !{JSON.stringify(question.allowComment)}
            };

      form(
        novalidate
        method="post"
        action="/admin/updateSurvey/"+ token
        autocomplete="off"
        )
        .survey-page(ng-repeat="page in pages" ng-show="$index == currentPage")
          .jumbotron
            .container
              .row
                .col-md-12
                  h3= 'PAGE {{$index + 1}}'
                  .page-content

                    .question(ng-repeat="question in page.questions")
                      .question-label
                        input(
                          type='textbox'
                          name="pages[{{$parent.$index}}].questions[{{$index}}]['label']"
                          placeholder='Tapez votre question'
                          value="question.label"
                          ng-model= 'question.label'
                        )
                        span.close(ng-click="removeQuestion(page, question)") x
                      .container
                        .col-md-11.col-md-offset-1


                          .question-mark
                            h5 Question notée&nbsp;?&nbsp;
                              input(
                                type="checkbox"
                                name="pages[{{$parent.$index}}].questions[{{$index}}]['allow-mark']"
                                ng-model= 'question.allowMark'
                              )
                          .question-comment
                            h5 Question ouverte&nbsp;?&nbsp;
                              input(
                                type="checkbox"
                                name="pages[{{$parent.$index}}].questions[{{$index}}]['allow-comment']"
                                ng-model= 'question.allowComment'
                              )
                    .btn.btn-primary(ng-click="addQuestion(page)") Ajoutez une question
        .container.page-handler
          .row
            .col-md-12
              .page-index(
                ng-repeat="page in pages"
                ng-class="$index == currentPage ? 'current' : ''"
                ng-click="setPage($index)"
              ) {{$index + 1}}
              .page-index.textual.add-page(ng-click="addPage()") Ajoutez une page
              input.btn.btn-primary(type='submit' value='Sauvegarder le questionnaire')

              a.btn.btn-primary(href="/admin/sendSurvey/"+ token) Envoyer le questionnaire


