extends ../header.jade
block head
  title Coact - Personnel
  meta(name="description" content="La dimension humaine de la collaboration : Le premier enjeu de toute collaboration au sein d’une organisation est de faire en sorte que l’ensemble des personnes qui la composent communiquent et interagissent aisément.")
block vars
  - var nav = 'personnel'
  - var bgPage = 'bg-personnel'
block component
  .jumbotron.header
    .container
      .row
        .col-md-12
          h1 La dimension humaine de la collaboration
          p.explain
            | Le premier enjeu de toute collaboration au sein d’une organisation
            | est de faire en sorte que l’ensemble des personnes
            | qui la composent communique et interagisse aisément.
          p.explain
            | Bien souvent, nos différences de perception et de manière de fonctionner
            | font que nous ne nous comprenons pas toujours.
          p.explain
            | Le tout premier défi de la collaboration sera donc de développer nos capacités
            | à comprendre notre propre fonctionnement, ainsi que celui des autres afin de savoir
            | ce qu'il est raisonnable d'attendre de chacun.
          p.explain Chez CoAct – The Collabor’action Factory, nous partageons cet objectif !
          p.explain
            | Toutes nos actions de formations ou d’animations de séminaires sont résolument
            | collaboratives. Nous créons et animons des
            | Collaborative Trainings qui permettent aux participants de véritablement
            | travailler en équipe pour progresser dans leurs pratiques, ainsi qu'initier
            | une démarche collaborative pérenne au sein de votre organisation.
  .jumbotron.appeal(ng-controller="personnelCtrl")
    .container.marketing
      .row
        #slider-controller.col-md-4
          .thumbnail
            .caption
              p
                a.btn.btn-cta(
                  ng-click='personnelSlider.goTo("takeAction")'
                  ng-class='{active: personnelSlider.slides.takeAction}'
                  ) Passez à l’action avec les Collabor’actions
              p
                a.btn.btn-cta(
                  ng-click='personnelSlider.goTo("transform")'
                  ng-class='{active: personnelSlider.slides.transform}'
                  ) Faites évoluer vos formations
              p
                a.btn.btn-cta(
                  ng-click='personnelSlider.goTo("discover")'
                  ng-class='{active: personnelSlider.slides.discover}'
                  ) Explorez vos possibilités
        #side-slider.col-md-8
          .thumbnail
            .caption
              #take-action(ng-show="personnelSlider.slides.takeAction")
                p.
                  Expérimentez nos animations dynamiques et impliquantes lors de vos séminaires ou vos formations :
                ul
                  li
                    span.
                      des séminaires aux formats innovants pour faire vivre à vos collaborateurs des expériences inoubliables
                  li
                    span.
                      des forums ouverts pour impliquer vos collaborateurs dans les décisions et les faire s’approprier des plans d’actions
                  li
                    span.
                      des Collaborative Trainings, véritable innovation pédagogique permettant aux participants d’être à 100% acteurs de leur formation
                p.
                  Vous vous demandez si ces animations pourraient vous convenir et répondre à vos objectifs, choisissez une démonstration pour vous faire votre propre idée.
              #transform(ng-show="personnelSlider.slides.transform")
                p.
                  Aujourd’hui, dans un monde en perpétuelle et rapide évolution, tous les collaborateurs d’une organisation ont besoin de développer leurs compétences de manière de plus en plus rapide et de plus en plus souvent pour « rester dans la course ».
                p.
                  Formations présentielles, MOOC, serious games, e-learning…et si vous choisissiez d’innover en dynamisant vos actions présentielles avec les "collaborative trainings" (ou entrainements collaboratifs).
                p.
                  Vivez des histoires dans lesquelles vous allez développer ensemble vos compétences pour faire progresser votre équipe dans une "formation dont vous êtes le héros"
              #discover(ng-show="personnelSlider.slides.discover")
                p(style='white-space:pre-line;').
                  Vous cherchez aujourd’hui comment permettre à vos équipes de mieux fonctionner ensemble ?
                  Vous constatez que de nombreux problèmes viennent d’une mauvaise communication ou d’incompréhension des fonctionnements des uns et des autres ?
                  Vous vous dites que vous pourriez mieux organiser le travail pour favoriser une collaboration naturelle entre les membres de votre organisation ?

                p.
                  Grâce à des outils simples, opérationnels et dont les résultats observables sont rapides à constater, mettez de la fluidité dans le fonctionnement de vos équipes et exploitez le plein potentiel des ressources de chacun.
      .row
        .col-md-12
          a.btn.btn-default.btn-higlight(href="/contact" analytics-on="click" analytics-event="Personnel: CTA Conctact us") Contactez-nous
