extends ./header.jade
block component
  .jumbotron
    .container
      .row
        .col-md-12
          h2 Ajouter une formation
  .jumbotron
    .container(ng-controller='adminAddFormationCtrl')
      form(
        name='AddFormationForm'
        ng-submit='submitFormation()'
      )
        .row
          .col-md-12
            table.table.table-hover
              tbody
                  tr
                    td Titre
                    td
                      input(
                        type='textbox'
                        placeholder='Titre'
                        ng-model='newFormation.title'
                      )
                  tr
                    td Client
                    td
                      input(
                        type='textbox'
                        placeholder='Société Dupond'
                        ng-model='newFormation.client'
                      )
                  tr
                    td Date de la formation
                    td
                      input(
                        type='datetime-local'
                        ng-model='newFormation.date'
                      )
                  tr
                    td Lieu de la formation
                    td
                      input(
                        type='textbox'
                        placeholder='84, Quai de Jemmapes'
                        ng-model='newFormation.place'
                      )
                  tr
                    td Honoraire de base
                    td
                      .input-group
                        input.form-control.currency(
                          type='number'
                          step='0.01'
                          data-number-stepfactor="100"
                          ng-model='newFormation.basePrice'
                        )
                        span.input-group-addon €
        .row
          .col-md-12
            input.btn.btn-primary(
              type='submit'
              value='Valider'
            )
            a.btn(
              href='/admin/pcm'
              value='Annuler'
            )

