doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
  body

    if firstname
      p="Bonjour " + firstname +","
    else
      p Bonjour,

    p dans le cadre de votre entrainement à la reconnaissance des profils de personnalité Process Communication sur base de l’observation des comportements et des manières de s’exprimer, nous vous proposons de deviner les profils de personnalité de quelques personnages à travers les extraits de film que vous trouverez en suivant le lien ci-dessous.

    a(href='http://www.coact.fr/pcm/' + pcmTestCode)="www.coact.fr/pcm/" + pcmTestCode

    p Pour chaque vidéo, vous pouvez sélectionner un ou plusieurs profils puis expliquer votre/vos choix.

    p Vous pouvez vous interrompre à tout moment et reprendre vos réponses plus tard.

    br
    br

    p A l’issue du questionnaire, vos réponses seront analysées individuellement et un débriefing vous sera envoyé.

    p Vous souhaitant un bon visionnage,

    p L’équipe CoAct

    a(href="http://www.coact.fr")
      img(src="http://www.coact.fr/img/CoAct.png"
        widht=170
        height=120
        alt="CoAct")

    p PS 1 : notre plateforme étant encore en cours de développement, toute remarque ou suggestion sera la bienvenue pour améliorer ce service. Votre contact : Aubry Hervé (aubry.herve@coact.fr)

    p PS 2 : vous pouvez également nous soumettre vos propres extraits vidéos, nous serons ravis de les proposer à tous
